.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.pytest_cache
.coveragerc
pytest.ini

.DS_Store
.idea/*
.python-version
.vscode/*

/test.py
/test_*.*
/tests

/setup.cfg
MANIFEST.in
/setup.py
/docs/site/*
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*

# Configs
.gitignore
.flake8
.isort.cfg
.pre-commit-config.yaml
.env*
*.log
compose.yaml
Dockerfile
README.md
TaskDescription.pdf